.delivery_info{
    height: 550px;
    padding: 0% 10%;
    border-radius: 36px;
    background: linear-gradient(90deg, #5B52A3, #40B8EA);
    display: flex;
    align-items: center;
    color: #fff;
}

.delivery_info_description{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.delivery_info_description h2{
    font-size: 50px;
}

.delivery_info_description button{
    border: 0;
    background-color: #00C97B;
    color: #fff;
    border-radius: 36px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.delivery_info_image img{
    height: 450px;
}

.sliderCategory{
    width: 500px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.sliderCategory_list{
    display: flex;
    list-style-type: none;
    transition: transform 0.5s ease-in-out;
}

.buy__product_item{
    flex: none;
    width: 100%;
}

.butt{
    font-weight: bold;
    width: 100%;
    padding: 20px;
}

.btn_prew,
.btn_next{
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.btn_next{
    right: 0;
}

.btn_prew{
    left: 0;
}