.block{
    margin-top: 50px;
}

.block ul{
    list-style-type: none;
    font-weight: bold;
}

.block li{
    font-weight: normal;
}

.block__list{
    width: 95%;
    display: flex;
    margin: 70px auto 0 auto;
}

.block__list>li{
    flex: 0 0 25%;
    padding: 10px;
}

.block__list a{
    text-decoration: none;
    color: #000;
}

.block__list>li>ul li{
    margin-top: 25px;
}

.block__list_messengers{
    display: flex;
    flex-wrap: wrap;
}

.block__list_messengers li:nth-child(1){
    flex: none;
    width: 100%;
    margin-top: 0;
}

.block__list_messengers li:not(:first-child){
    padding: 0 10px 0 0;
}

hr{
    margin-top: 40px;
}

.block__copyright{
    margin: 40px auto 40px auto;
    text-align: center;
    font-size: 13px;
}

@media(max-width:1152px){
    .block__list>li{
        font-size: 14px;
    }   
}

@media(max-width:1024px){
    .block__list>li{
        flex: 0 0 25%;
        padding: 0px;
    }    
}

@media(max-width:800px){
    .block__list{
        flex-wrap: wrap;
    }

    .block__list>li{
        flex: 0 0 33%;
        text-align: center;
        font-size: 13px;
    }

    .block__list>li:nth-child(1){
        flex: 0 0 100%;
        text-align: center;
    }

    .block__list_messengers{
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media(max-width:425px){
    .block__list{
        flex-direction: column;
    }

    .block__list>li{
        margin-top: 10px;
    }
    .block__list>li>ul li{
        margin-top: 10px;
    }
}

@media(max-width:375px){
    .block__list{
        margin: 30px auto 0 auto;
    }
}