.footer{
    margin-top: 50px;
}

.footer__subsubscription{
    height: 250px;
    padding: 0% 10%;
    margin-bottom: 100px;
    border-radius: 36px;
    background: linear-gradient(90deg, #5B52A3, #40B8EA);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.footer__subsubscription>p{
    width: 30%;
}

.footer__subsubscription input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.footer__subsubscription button{
    border: 0;
    background-color: #00C97B;
    color: #fff;
    border-radius: 36px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

ul{
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
}

li{
    font-weight: normal;
}

.footer__list{
    width: 85%;
    display: flex;
    margin: 70px auto 0 auto;
}

.footer__list>li{
    width: 25%;
}

.footer__list a{
    text-decoration: none;
    color: #000;
}

.footer__list>li>ul li{
    margin-top: 25px;
}

.footer__list_messengers{
    display: flex;
    flex-wrap: wrap;
}

.footer__list_messengers li:nth-child(1){
    flex: none;
    width: 100%;
    margin-top: 0;
}

.footer__list_messengers li:not(:first-child){
    padding: 0 10px 0 0;
}

hr{
    margin-top: 40px;
}

.footer__copyright{
    margin: 40px auto 40px auto;
    text-align: center;
    font-size: 13px;
}