.block{
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.menuBtn{
    display: none;
}

.block__logo{
    display: flex;
}

.block__logo a{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    gap: 5px;
}

.block__logo span{
    font-size: 20px;
}

.block__list{
    display: flex;
    list-style-type: none;
    font-size: 14px;
    gap: 10px;
}

.block__list a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    font-weight: bold;
    position: relative;
}

.block__list a::before{
    content: "";
    border-bottom: 5px solid #00C97B;
    width: 0%;
    position: absolute;
    bottom: 0;
}

.block__list a:hover::before{
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.block__user{
    display: flex;
    gap: 10px;
}

.block__user_cart{
    font-size: 0px;
    display: flex;
    align-items: center;
}

.block__user_cart>img{
    height: 50px;
    border-radius: 100%;
    font-size: 0px;
}

.block__logIn{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.block__contact_btn{
    display: flex;
    align-items: center;
}

.block__contact_btn>button{
    border: 0;
    padding: 15px 0px;
    background-color: #00C97B;
    border-radius: 36px;
    color: #fff;
    padding: 17px 10px;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width:1024px){
    .block{
        border-radius: 0px 0px 20px 20px;
        justify-content: space-between;
        padding: 0px 55px;
    }

    .menuBtn{
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        z-index:2;
        overflow: hidden;
        top: 25px;
        left: 40px;
    }

    .menuBtn span{
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    
    .menuBtn span:nth-of-type(2) {
        top: calc(30% - 5px);
    }

    .menuBtn span:nth-of-type(3) {
        top: calc(70% + 5px);
    }

    .menuBtn.active span:nth-of-type(1) {
        display: none;
    }

    .menuBtn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }

    .menuBtn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #FFEFBA;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }

    .block__list{
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0px;
        left: 0;
        width: 50%;
        height: 100%;
        padding-top: 40px;
        background: #FFEFBA;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }

    .block__list.active {
        transform: translateX(0);
    }
    
    .block__list li {
        list-style-type: none;
    }
}

@media(max-width:800px){
    .block{
        padding-left: 60px;
    }
    .block__logo img{
        height: 35px;
    }

    .block__user_cart img{
        height: 35px;
    }

    .block__logIn img{
        height: 35px;
    }

    .block__logIn{
        font-size: 13px;
        font-weight: normal;
    }
}

@media(max-width:425px){
    .block{
        align-items: center;
        padding-left: 70px;
    }

    .block__logo img{
        height: 30px;
        width: fit-content;
    }

    .block__logo span{
        display: none;
    }

    .block__user{
        height: 30px;
    }

    .block__user_cart img{
        height: 30px;
        width: fit-content;
    }

    .block__logIn img{
        height: 30px;
    }

    .block__contact_btn>button{
        display: none;
    }
}

@media(max-width:375px){
    .menuBtn{
        top: 25px;
        left: 25px;
    }
}