.block{
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.block__logo a{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    gap: 10px;
}

.block__list{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.block__list a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    font-weight: bold;
    position: relative;
}

.block__list a::before{
    content: "";
    border-bottom: 5px solid #00C97B;
    width: 0%;
    position: absolute;
    bottom: 0;
}

.block__list a:hover::before{
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.block__user{
    display: flex;
    gap: 10px;
}

.block__user_cart>img{
    height: 50px;
    border-radius: 100%
}

.block__logIn{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.block__contact_btn{
    border: 0;
    background-color: #00C97B;
    border-radius: 36px;
    color: #fff;
    padding: 0px 15px;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width:1024px){
    .block{
        border-radius: 0px 0px 20px 20px;
    }

    .menuBtn{
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }

    .menuBtn span{
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    
    .menuBtn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menuBtn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .menuBtn.active span:nth-of-type(1) {
        display: none;
    }

    .menuBtn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }

    .menuBtn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
      background: #FFEFBA;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }

    .block__list{
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0px;
        left: 0;
        width: 50%;
        height: 100%;
        /* padding: 15px; */
        padding-top: 40px;
        background: #FFEFBA;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }

    .block__list.active {
        transform: translateX(0);
    }
    
    .block__list li {
        list-style-type: none;
    }

    /* .block__list a{
        padding: 20px;
        display: block;
        text-align: center;
    } */
}

@media(max-width:425px){
    .block{
        flex-direction: column;
        align-items: center;
    }
}