.block{
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.block__burgerBtn{
    display: none;
}

.block__logo a{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    gap: 10px;
}

.block__list{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.block__list a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    font-weight: bold;
    position: relative;
}

.block__list a::before{
    content: "";
    border-bottom: 5px solid #00C97B;
    width: 0%;
    position: absolute;
    bottom: 0;
    
}

.block__list a:hover::before{
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.block__user{
    display: flex;
    gap: 10px;
}

.block__user_cart>img{
    height: 50px;
    border-radius: 100%
}

.block__logIn{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.block__contact_btn{
    border: 0;
    background-color: #00C97B;
    border-radius: 36px;
    color: #fff;
    padding: 0px 15px;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width:1024px){
    .block{
        border-radius: 0px 0px 20px 20px;
    }

    .block__burgerBtn:before{
        content: "";
    }

    .block__burgerBtn{
        display: block;
        position: absolute;
        z-index: 2;
        
        border: 2px solid #000;
        width: 40px;
    }

    .block__list{
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        position: fixed;
        z-index: 2;
        top: 0;
        left: -300px;
        transform: translateX(0px);
        transition: transform ease-in-out 1s;
    }

    .visibilityMenu{
        transform: translateX(300px);
    }

    .block__list>li{
        width: 250px;
    }

    .block__list a{
        padding: 20px;
        display: block;
        text-align: center;
    }
}

@media(max-width:425px){
    .block{
        flex-direction: column;
        align-items: center;
    }
}